[Unit]
Description=Heinzelmaennekes home automation
After=syslog.target

[Service]
ExecStart=/usr/bin/heinzd
Type=simple

[Install]
WantedBy=multi-user.target
